<div class="flex flex-col items-center justify-center w-full relative z-10 p-4">
  <div class="background"></div>

  <div class="card">
    <h1 class="card-title">{{ languageService.currentTranslations.loginTitle }}</h1>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="form-group">
        <label for="username">{{ languageService.currentTranslations.usernameLabel }}</label>
        <input id="username" type="text" formControlName="username" [placeholder]="languageService.currentTranslations.usernamePlaceholder" />
        <div *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)" class="error-message">
          <span *ngIf="form.get('username')?.errors?.['required']">{{ languageService.currentTranslations.usernameRequired }}</span>
          <span *ngIf="form.get('username')?.errors?.['minlength']">{{ languageService.currentTranslations.usernameMinLength }}</span>
          <span *ngIf="form.get('username')?.errors?.['maxlength']">{{ languageService.currentTranslations.usernameMaxLength }}</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">{{ languageService.currentTranslations.passwordLabel }}</label>
        <div class="relative flex items-center">
          <input [type]="passwordFieldType" id="password" formControlName="password" [placeholder]="languageService.currentTranslations.passwordPlaceholder" class="pr-10" />
          <span class="absolute right-0 pr-3 cursor-pointer" style="top: 50%; transform: translateY(-50%);" (click)="togglePasswordVisibility()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 hover:text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <svg *ngIf="passwordFieldType === 'text'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 hover:text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.981 12H12m0 0l-3.981 3.981M12 12L8.019 8.019M12 12v7.981M12 12L16.019 8.019M12 12v-7.981M12 12L16.019 15.981" />
            </svg>
          </span>
        </div>
        <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)" class="error-message">
          <span *ngIf="form.get('password')?.errors?.['required']">{{ languageService.currentTranslations.passwordRequired }}</span>
          <span *ngIf="form.get('password')?.errors?.['minlength']">{{ languageService.currentTranslations.passwordMinLength }}</span>
          <span *ngIf="form.get('password')?.errors?.['maxlength']">{{ languageService.currentTranslations.passwordMaxLength }}</span>
          <span *ngIf="form.get('password')?.errors?.['pattern']">{{ languageService.currentTranslations.passwordPattern }}</span>
        </div>
      </div>

      <div class="form-group flex items-center justify-start mt-2 mb-4">
        <input id="rememberMe" type="checkbox" formControlName="rememberMe" class="h-4 w-4 text-red-600 focus:ring-red-500 border-gray-300 rounded mr-2" />
        <label for="rememberMe" class="text-sm text-gray-600 cursor-pointer">{{ languageService.currentTranslations.rememberMe }}</label>
      </div>

      <button class="btn" type="submit" [disabled]="form.invalid || isLoading">
        <span *ngIf="!isLoading">{{ languageService.currentTranslations.loginButton }}</span>
        <span *ngIf="isLoading">{{ languageService.currentTranslations.loading }}</span>
      </button>
    </form>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <p class="mt-4 text-sm text-gray-600">
      <a routerLink="/forgot-password" class="text-red-500 hover:underline">{{ languageService.currentTranslations.forgotPassword }}</a>
    </p>
  </div>
</div>
